<footer class="page-footer font-small bg-white pt-4">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-dark">Siga-nos nas redes Sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <ul class="social-network">
            <li>
              <a href="https://www.facebook.com/paulinha.leticia.90" target="_blank" class="ico">
                <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/leticiasilva5a/" target="_blank" class="icoInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/paula-let%C3%ADcia-aa9061b6/" target="_blank" class="icoLinkdin">
                <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
                 <a href="https://github.com/paulaleticia21" target="_blank" class="icoGithub">
                <i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
  
          </ul>
  
        </div>
      </div>
  
    </div>
  
    <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light"> © 2023 copyright</span>
      <a class="text-light pr-2 mr-4" target="_blank" href="https://github.com/paulaleticia21">paula.leticia</a>
  
    </div>
  
  
  
  </footer>
  