<nav class="navbar mr-5 ">
    <div class="max-width">
        <div class="logo mr-5 mb-3 ml-5  "><a href="#loading">Paula<span>Leticia.</span></a></div>
        <ul class="menu">
            <li>
                <a href="#menu">Home </a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#skills">Skill</a>
            </li>
            <li>
                <a href="#project">Projects</a>
            </li>
            
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>