<br>
<hr>
<section class="project  p-5 d-flex justify-content-center" id="projetct">
    <div class="row ml-5 p-5 d-flex justify-content-center">
        <div class="max-width">
            <h2 class="title"> My Project</h2>
            <div class="proje-content row d-flex justify-content-center">
                <div class="card bg-light mb-4 mr-5  " style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                    </div>
                    
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                    </div>
                   
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box ">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                    </div>
                    
                </div>
                <div class="card bg-light mb-4 mr-5  " style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                            
                    </div>
                  
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                    </div>
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Título de Card Light</h5>
                        <p class="card-text text-dark "> exemplo de texto rápido para construir o título do card e fazer
                            preencher o conteúdo do card.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>