<br>

<section class="project  p-5 d-flex justify-content-center" id="project">
    <div class="row ml-5 p-5 d-flex justify-content-center">
        <div class="max-width">
            <h2 class="title"> My Project</h2>
            <div class="proje-content row d-flex justify-content-center">
                <div class="card bg-light mb-4 mr-5  " style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Ecomerce</h5>
                        <p class="card-text text-dark "> Loja de produtos online e-commerce, com foco em vendas de produtos sustentáveis em geral, com atuação principal em matéria-prima sustentável e reutilizável.
                            Tentando promover entre a sociedade a ideia de reutilização de lixo para diversas formas no cotidiano.
                            </p>
                    </div>
                    
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Hackaton CCR</h5>
                        <p class="card-text text-dark ">
                            A AI coleta os dados do perfil do jovem por meio de um QUIZ (questionário social, psicológico e de interesses) e combina essas informações com os perfis de heróis/heroínas. Como resultado, o jovem tem acesso às histórias reais de pessoas que tiveram uma jornada similar à dele e orientação de carreira, para que, como consequência, ele recupere a motivação e a autoestima.</p>
                    </div>
                   
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box ">
                        <h5 class="text">BlogPessoal</h5>
                        <p class="card-text text-dark ">Projeto feito no bootcamp da generation onde a idéia é fazer um blog pessoal.</p>
                    </div>
                    
                </div>
                

                

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">PorElas</h5>
                        <p class="card-text text-dark "> Trabalho integrado desenvolvido na Universidade Carlos Drummond de Andrade. O objetivo do aplicativo é ajudar a combater a violência contra a mulher.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>