<br>
<br>
<section class="project  d-flex justify-content-center padding" id="project">
    <div class="row d-flex justify-content-center padding">
        <div class="max-width padding">
            <h2 class="title d-flex justify-content-center"> Meus Projetos</h2>
            <div class="proje-content row d-flex justify-content-center">
                <div class="card bg-light mb-4 mr-5 " style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">E-commerce</h5>
                        <p class="card-text text-dark "> Loja de produtos online e-commerce, com foco em vendas de produtos sustentáveis em geral, com atuação principal em matéria-prima sustentável e reutilizável.
                            Tentando promover entre a sociedade a ideia de reutilização de lixo para diversas formas no cotidiano.
                            </p>
                            <a href="https://www.sustenart.com.br/" class="btn btn-outline-dark btn-lg active" role="button" aria-pressed="true">Site</a>
                    </div>
                    
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box">
                        <h5 class="text">Hackaton CCR</h5>
                        <p class="card-text text-dark ">
                            A AI coleta os dados do perfil do jovem por meio de um QUIZ (questionário social, psicológico e de interesses) e combina essas informações com os perfis de heróis/heroínas. </p>
                            <a href="https://github.com/paulaleticia21/Hackaton" class="btn btn-outline-dark btn-lg active" role="button" aria-pressed="true">Github</a>
                    </div>
                   
                </div>

                <div class="card bg-light mb-4 mr-5" style="max-width: 18rem;">

                    <div class="card-body box ">
                        <h5 class="text">BlogPessoal</h5>
                        <p class="card-text text-dark ">Projeto feito no bootcamp da generation onde a idéia é fazer um blog pessoal.</p>
                        <a href="https://github.com/paulaleticia21/BogPessoalv2" class="btn btn-outline-dark btn-lg active" role="button" aria-pressed="true">Github</a>
                    </div>
                    
                </div>
                

                

                
            </div>
        </div>
    </div>
</section>

<br>