
<br>
<br>
<br>
<div class="container-fluid mr-5">

    <div class="row bg-withe d-flex align-items-center ml-5 ">
        <div class="col-md-6">

            <form class="forms-container" id="contact">
                <h1 class="d-flex justify-content-center  ">Contato</h1>
                <div class="form-group">
                    <label for="exampleInputnome"><b>Nome</b></label>

                    <div class="col-md-20 mb-4">
                        <input [(ngModel)]='contato.nome'  name="nome" type="text" class="form-control" id="nome"
                            aria-describedby="nomeHelp" placeholder="Digite seu nome" />
                        <small id="nomeHelp" class="form-text text-muted"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1"><b>Email</b></label>
                    <div class="col-md-20 mb-4">
                        <input [(ngModel)]='contato.email' name="email" type="text" class="form-control" id="email"
                            aria-describedby="emailHelp" placeholder="Digite seu Email" />
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Digite o seu Texto aqui</label>
                    <textarea [(ngModel)]='contato.texto' name ="texto" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-outline-dark" (click)='cadastrar()' >Enviar</button>
            </form>
        </div>


        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/Lhhuyno.gif" alt="" width="500px" height="500px">
        </div>
    </div>

</div>
<br>