<br>
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">Habilidades</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text"><h2><i>Minhas habilidades criativas</i></h2></div>
                <h3>Veja aqui um pouco dos meus conhecimento em programação. Tenho conhecimento em <b>Backend e Frontend 

                </b> </h3>
                  
            </div>
            <div class="column right ">
                <div class="bars">
                    <div class="info">
                        <span><b>HTML</b> </span>
                        <span>85%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>CSS</b> </span>
                        <span>70%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>TYPESCRIPT</b></span>
                        <span>85%</span>
                    </div>
                    <div class="line typescript"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>JAVASCRIPT</b> </span>
                        <span>50%</span>
                    </div>
                    <div class="line javascript"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>BOOTSTRAP</b> </span>
                        <span>90%</span>
                    </div>
                    <div class="line bootstrap"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>ANGULAR</b> </span>
                        <span>75%</span>
                    </div>
                    <div class="line angular"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>JAVA 8</b></span>
                        <span>65%</span>
                    </div>
                    <div class="line java"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>SPRING BOOT</b></span>
                        <span>75%</span>
                    </div>
                    <div class="line springboot"></div>
                </div>

                <div class="bars">
                    <div class="info">
                        <span><b>MYSQL</b></span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>Postman</b></span>
                        <span>60%</span>
                    </div>
                    <div class="line postman"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span><b>Heroku</b></span>
                        <span>65%</span>
                    </div>
                    <div class="line heroku"></div>
                </div>
                

            </div>
        </div>
    </div>

</section>
<br>