<br>
<section class="about  my-5" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="https://i.imgur.com/b5YY40o.jpg" alt="">

            </div>
            <div class="column right">
                <div class="text"> Olá sou a Paula Leticia <span> Web Java Jr Full Stack developer. </span> </div>
                <p><i>Nasci e cresci em São Paulo, tenho 25 anos e sou formada em Ciência da
                    Computação. Sou apaixonada por tecnologia desde criança. Atualmente obtive conhecimento em
                    várias
                    linguagens de programação. Estou inserida em um projeto de Bootcamp na Generation Brasil.
                    Pretendo
                    continuar estudando na área de tecnologia, e me especializar em Full Stack.</i> 👩‍🎓😄👾
                </p>
                <a data-toggle="modal" data-target="#modal1" class="btn btn btn-outline-dark">Meu
                    Curriculo
                </a>

            </div>



        </div>
    </div>
</section>

<!-- Modal 1 -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Meu Curriculo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <img src="https://i.imgur.com/lOyfRrU.png" alt="Minhafoto" width="800px">


            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Fechar</button>

                <a href="https://drive.google.com/file/d/1BXZoPBQaE4qpSIYpw28Mi0Mi5ywCFqY9/view?usp=sharing">Acesse aqui
                    o
                    Curriculo</a>



            </div>
        </div>
    </div>
</div>